.nav-link {
  font-size: 16px;
  color: #000;
  font-weight: 700;
}
.profile-img {
  width: 70px;
  cursor: pointer;
  margin-left: -10px;
}
.inner-profile-img {
  width: 130px;
  padding: 10px 10px;
}
