.btn-color {
  background-color: #ea4c23 !important;
  color: #fff !important;
}

.link {
  color: rgba(255, 153, 0, 1) !important;
}

a {
  text-decoration: none;
}

.register-card {
  box-shadow: -14px 14px 0px #ea4c23;
  margin-top: 100px;
  margin-bottom: 20px;
}

@media screen and (max-width: 3000px) {
  .register {
    width: 40% !important;
  }
}

@media screen and (max-width: 1000px) {
  .register {
    width: 60% !important;
  }
}

@media screen and (max-width: 768px) {
  .register {
    width: 80% !important;
  }
}
